/* font import */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lemonada:wght@300..700&display=swap');

html {
  scrollbar-width: none;
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}
body::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  background: url('https://wallpapers.com/images/hd/paper-texture-background-zlvqcgwohwvd642j.jpg') repeat center
    center/cover;
  filter: brightness(75%);
  opacity: 0.5;
  z-index: -1;
}
body {
  background: rgb(235, 176, 80);
  font-size: 16pt;
  height: auto;
  width: 95vw;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Roboto';
  z-index: 1;
}
#logo {
  width: 35em;
  height: auto;
  margin: 2em auto 0 auto;
  transform: translateX(1em);
}
#index-logo {
  height: 35em;
  margin-top: 2em;
  display: none;
}

header {
  width: 100%;
  height: 7em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: black;
  border-bottom: thin solid rgb(139, 35, 50);
  color: white;
  overflow: hidden;
}
.top-bar {
  width: 100vw;
  position: absolute;
  clear: both;
  height: 10em;
}

.header-button {
  padding: 1em;
}

.header-button.left {
  margin: 1em auto 1em 1em;
}

.header-button.right {
  margin: 1em 1em 1em auto;
}

nav ul {
  position: relative;
  z-index: 10;
  height: 1.5em;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  font-size: 1.5em;
  background: url('../photos/off-white-bg.jpg');
  padding-left: 0;
  border-bottom: thin solid rgb(139, 35, 50);
  filter: brightness(88%);
}
#chicken {
  position: absolute;
  top: 1em;
  left: 50%;
  transform: translateX(-50%);
  width: 40em;
  height: auto;
  z-index: 12;
  pointer-events: none;
}

nav li {
  margin: 0 1em;
  z-index: 15;
}

a {
  list-style: none;
  text-decoration: none;
  color: rgb(139, 35, 50);
}

.current {
  font-weight: bold;
  text-decoration: underline;
}

main {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 11em;
  margin-bottom: 1em;
}
.menu-nav {
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin-bottom: 1em;
}

.menu-nav ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: 0;
  list-style: none;
  max-width: 60em;
  flex-wrap: nowrap;
  overflow-x: auto;
  border: solid thin rgb(139, 35, 50);
  border-radius: 1em;
  padding: 0.5em 0.25em;
  background: rgba(0, 0, 0, 0.2);
  scrollbar-color: rgba(139, 35, 50, 0.7) rgba(0, 0, 0, 0);
}

.menu-nav ul li {
  text-align: center;
  margin: 0.5em 0.5em;
  border-radius: 1em;
  background: linear-gradient(145deg, rgba(139, 35, 50, 0.85), rgba(139, 35, 50, 0.6));
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
  white-space: nowrap;
}

.menu-nav ul li a {
  display: block;
  padding: 0.5em 1em;
  color: rgb(248, 248, 248);
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: none;
  transition: color 0.3s, background-color 0.3s;
}

.menu-nav ul li:hover {
  background: linear-gradient(145deg, rgba(139, 35, 50, 0.95), rgba(139, 35, 50, 0.7));
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
}

.menu-nav ul li a:hover {
  color: rgb(255, 215, 0);
}

#eggs-and-more,
#omelettes,
#holy-benedicts,
#mos-specials,
#early-risers,
#pancakes-waffles-french-toast,
#kids-menu,
#continental-breakfast,
#side-orders,
#burgers-sandwiches,
#specialty-sandwiches,
#salads-n-soup,
#lite-lunch,
#beverages {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.section-division {
  margin-bottom: 3em;
  border-bottom: thin solid rgb(139, 35, 50);
}
main h3 {
  font-family: 'Lemonada';
  text-align: center;
  font-weight: 600;
  font-size: 3em;
  color: rgb(190, 23, 48);
  text-decoration: underline;
}
main .substitution {
  margin-bottom: 1em;
  color: rgb(190, 23, 48);
}
.substitution.kids {
  margin-bottom: 0.5em;
}

main ul {
  text-decoration: none;
  list-style: none;
  padding-left: 0em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

main li {
  width: 33%;
  margin: 0 1em;
}
.menu-buttons {
  width: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: center;
}
.side {
  font-size: 1em;
  margin-bottom: 0.5em;
}
main h4 {
  font-size: 1.25em;
  font-weight: 800;
}
main p {
  font-weight: 500;
}
li h4 p {
  max-width: 20em;
}
main .price {
  margin-bottom: 1em;
  font-weight: 400;
}

#dropdown-toggle {
  display: flex;
  align-self: center;
  position: relative;
  padding-left: 0.5em;
  font-size: 2em;
  cursor: pointer;
}
#dropdown-toggle:hover {
  color: rgb(139, 35, 50);
}
#return-to-top {
  position: fixed;
  bottom: 1em;
  right: 1em;
  font-size: 2em;
  cursor: pointer;
  display: none;
  background: rgba(0, 0, 0, 0.5);
  padding: 0.5em;
  border-radius: 0.5em;
  color: white;
}

#about-main {
  display: flex;
  align-items: center;
  text-align: center;
}
#about-main p {
  max-width: 50em;
  margin: 1em 0;
}
#slideshow {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
  margin: auto;
}
#slideshow img {
  border-radius: 1em;
}
.mySlides {
  max-width: 100%;
  height: auto;
  max-height: 20em;
  display: none;
}
.w3-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: white;
  font-size: 2em;
  background-color: rgba(0, 0, 0, 0.69);
  border: none;
  cursor: pointer;
  padding: 8px 16px;
  z-index: 2;
}
.w3-button.w3-display-left {
  left: 10px;
}

.w3-button.w3-display-right {
  right: 10px;
}
#contact-main {
  display: flex;
  align-items: center;
  text-align: center;
}

/* contact form styling */
/* reset */
#fs-frm input,
#fs-frm select,
#fs-frm textarea,
#fs-frm fieldset,
#fs-frm optgroup,
#fs-frm label,
#fs-frm #card-element:disabled {
  font-family: inherit;
  font-size: 100%;
  color: inherit;
  border: none;
  border-radius: 0;
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
}
#fs-frm label,
#fs-frm legend,
#fs-frm ::placeholder {
  font-size: 1rem;
  margin-bottom: 0.5rem;
  padding-top: 0.2rem;
  display: flex;
  align-items: baseline;
}

#fs-frm input,
#fs-frm select,
#fs-frm textarea,
#fs-frm #card-element {
  border: 1px solid rgba(0, 0, 0, 0.2);
  background-color: rgba(255, 255, 255, 0.9);
  padding: 0.75em 1rem;
  margin-bottom: 1.5rem;
  border-radius: 1em;
}
#fs-frm input:focus,
#fs-frm select:focus,
#fs-frm textarea:focus {
  background-color: white;
  outline-style: solid;
  outline-width: thin;
  outline-color: gray;
  outline-offset: -1px;
}
#fs-frm [type='text'],
#fs-frm [type='email'] {
  width: 100%;
}
#fs-frm [type='button'],
#fs-frm [type='submit'],
#fs-frm [type='reset'] {
  width: auto;
  cursor: pointer;
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
  margin: 1em auto;
  border-radius: 1em;
}
#fs-frm [type='submit']:hover {
  background-color: rgb(139, 35, 50);
  color: white;
}
#fs-frm [type='button']:focus,
#fs-frm [type='submit']:focus,
#fs-frm [type='reset']:focus {
  outline: none;
}
#fs-frm [type='submit'],
#fs-frm [type='reset'] {
  margin-bottom: 0;
}
#fs-frm select {
  text-transform: none;
}

#fs-frm [type='checkbox'] {
  -webkit-appearance: checkbox;
  -moz-appearance: checkbox;
  appearance: checkbox;
  display: inline-block;
  width: auto;
  margin: 0 0.5em 0 0 !important;
}

#fs-frm [type='radio'] {
  -webkit-appearance: radio;
  -moz-appearance: radio;
  appearance: radio;
}

#fs-frm fieldset.locale input[name='city'],
#fs-frm fieldset.locale select[name='state'],
#fs-frm fieldset.locale input[name='postal-code'] {
  display: inline;
}
#fs-frm fieldset.locale input[name='city'] {
  width: 52%;
}
#fs-frm fieldset.locale select[name='state'],
#fs-frm fieldset.locale input[name='postal-code'] {
  width: 20%;
}
#fs-frm fieldset.locale input[name='city'],
#fs-frm fieldset.locale select[name='state'] {
  margin-right: 3%;
}
form {
  width: 40em;
  border-radius: 1em;
}
#contact-info {
  margin-top: 3em;
}

.fa-facebook-f {
  background-color: #3b5998;
  color: white;
  border: solid thin #3b5998;
  padding: 0.5em 0.75em;
  border-radius: 0.5em;
  margin-top: 1rem;
}
.fa-facebook-f:hover {
  scale: 1.1;
}
#index-main #contact-info {
  margin-top: 0.5em;
  display: none;
  flex-direction: column;
  align-self: center;
  justify-content: flex-end;
}
#contact-main #contact-info {
  margin-top: 2em;
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-content: flex-end;
}

.menu-button {
  position: relative;
  transform: translateY(-6em);
  padding: 1em;
  background: linear-gradient(to left, rgba(139, 35, 50, 0.95), rgba(139, 45, 50, 0.75));
  border-radius: 1em;
  color: white;
  font-family: lemonada;
  margin-bottom: 1em;
  /* margin-left: 2.5em; */
}

.menu-button:hover {
  background: linear-gradient(to right, rgba(139, 35, 50, 0.75), rgba(139, 45, 50, 0.75));
  color: rgb(235, 176, 80);
  cursor: pointer;
}

#button-holder {
  transform: translateY(-2.2em);
}
#index-main {
  display: flex;
  height: auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 30em;
}
#chicken {
  /* display: none; */
}
#index-main h1,
#index-main h2,
#contact-main h2 {
  font-family: 'Lemonada';
  color: rgb(139, 35, 50);
}
#_blank {
  width: 5em;
  visibility: hidden;
}
.forward {
  z-index: 50;
}

#welcome {
  font-family: 'lemonada';
  color: rgb(139, 35, 50);
  font-size: 2.5em;
}
#no-text {
  display: none;
}
.hours {
  display: none;
}
#mainThing {
  font-size: 2em;
}
#tagLine {
  font-family: 'lemonada';
  color: rgb(139, 35, 50);
  font-size: 1.25em;
  margin-top: 0.5em;
}

/* 1111 */
#index-body {
  height: 100vh;
  overflow: hidden;
}
@media screen and (max-width: 1750) {
  .w3-button {
    position: absolute;
  }
  #index-body {
    height: 100vh;
    overflow: hidden;
  }
}

@media screen and (max-width: 1680px) {
  main h3 {
    font-size: 2.5em;
  }
}
@media screen and (max-width: 1500px) {
  #chicken {
    width: 30em;
  }
  .menu-button {
    padding: 0.75em;
    margin-left: 2.5em;
    margin-right: 0.75em;
  }
  #index-main #contact-info {
    margin-top: -8em;
  }

  #button-holder {
    transform: translateY(-11.5em);
    /* margin-left: 1.5em; */
  }
  #tagLine {
    transform: translateY(-8em);
  }

  #contact-main .fa-facebook-f {
    transform: translateY(0em);
  }
  .fa-facebook-f {
    transform: translateY(-10em);
  }
}
@media screen and (max-width: 1350px) {
  #tagLine {
    transform: translateY(0em);
  }
  .header-button {
    display: none;
  }
  .hours {
    display: flex;
    font-size: 1.5em;
    color: black;
    text-decoration: none;
    margin: 0.5em auto;
  }
  body .fa-facebook-f {
    display: none;
  }
  #index-main #contact-info {
    display: flex;
  }
}
@media screen and (max-width: 1000px) {
  .mySlides {
    width: 100%;
  }
  main h3 {
    font-size: 2em;
  }
  .menu-nav ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    overflow-x: auto;
    white-space: nowrap;
    padding: 0;
    margin: 0;
    border: none;
  }
  .menu-nav ul li {
    display: inline-block;
    white-space: normal;
  }
  .menu-nav ul li a {
    padding: 0.5em 1em;
    color: rgb(248, 248, 248);
    font-weight: 500;
    font-size: 0.75em;
    text-transform: uppercase;
    text-decoration: none;
    transition: color 0.3s, background-color 0.3s;
    white-space: nowrap;
  }
}

@media screen and (max-width: 880px) {
  #chicken {
    width: 30em;
  }
  .menu-button {
    transform: translateY(-13em);
  }

  form {
    width: 80%;
    border-radius: 1em;
  }
  #slideshow {
    width: 80%;
    justify-content: center;
    align-items: center;
  }
  .menu-button {
    transform: translateY(-15em);
  }
}
@media screen and (max-width: 800px) {
  #chicken {
    width: 25em;
  }
  #index-main #contact-info {
    transform: translateY(-8em);
  }
  #button-holder {
    transform: translateY(-18.5em);
    font-size: 0.9em;
  }
  .menu-button {
    padding: 0.5em;
    font-size: 0.75em;
  }
  #tagLine {
    transform: translateY(-5em);
  }
}
@media screen and (max-width: 780px) {
  #index-body {
    height: 100vh;
    overflow: auto;
  }
  #chicken {
    display: none;
  }
  #index-logo {
    display: flex;
  }
  #_blank {
    display: none;
  }
  #no-text {
    display: flex;
    transform: translateY(-17em);
  }
  .menu-button {
    margin: 0.5em;
    font-size: 1em;
  }
  #button-holder {
    transform: translateY(-20em);
  }
  #index-main {
    padding-top: 15em;
  }
  #tagLine {
    transform: translateY(-7em);
  }
}

@media screen and (max-width: 680px) {
  nav {
    font-size: 1em;
  }
  nav ul {
    padding: 0em;
    height: 1.25em;
  }
  nav li {
    margin: 0 0.5em;
    font-size: 0.75em;
  }
  main li {
    width: 90%;
    margin-bottom: 1em;
  }
  .header-button {
    display: none;
  }
  main {
    margin-top: 10em;
  }
  .menu-nav ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    overflow-x: auto;
    white-space: nowrap;
    padding: 0;
    margin: 0;
  }
  .menu-nav ul li {
    display: inline-block;
    white-space: normal;
  }
  .menu-nav ul li a {
    padding: 0.5em 1em;
    color: rgb(248, 248, 248);
    font-weight: 500;
    font-size: 0.75em;
    text-transform: uppercase;
    text-decoration: none;
    transition: color 0.3s, background-color 0.3s;
    white-space: nowrap;
  }
  main .substitution {
    margin-bottom: 2em;
  }
  .substitution.kids {
    margin-bottom: 0.5em;
  }
  .mySlides {
    width: 100%;
  }
  #slideshow {
    width: 90%;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }
  header {
    height: 5em;
  }
  #index-logo {
    margin-bottom: 1em;
  }
  .menu-button {
    margin: 0.5em;
    font-size: 1em;
  }
  #button-holder {
    transform: translateY(-20.5em);
  }
  #index-main {
    padding-top: 15em;
  }
  #no-text {
    display: flex;
    transform: translateY(-19em);
  }
  .hours {
    font-size: 1em;
    color: black;
    text-decoration: none;
    margin-top: 0.5em;
  }
  #mainThing {
    font-size: 1.5em;
    transform: translateY(-0.5em);
  }
  #tagLine {
    transform: translateY(-6.9em);
  }
}
