/* font import */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lemonada:wght@300..700&display=swap');

html {
  scrollbar-width: none;
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}
body::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  background: url('https://wallpapers.com/images/hd/paper-texture-background-zlvqcgwohwvd642j.jpg') repeat center
    center/cover;
  filter: brightness(75%);
  opacity: 0.5;
  z-index: -1;
}
body {
  background: rgb(235, 176, 80);
  font-size: 16pt;
  height: 100vh;
  width: 95vw;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Roboto';
  z-index: 1;
}
#logo {
  height: 15em;
  margin-top: 2em;
}

header {
  width: 100%;
  height: 7em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: black;
  border-bottom: thin solid rgb(139, 35, 50);
  /* margin-bottom: 0.25em; */
  color: white;
  overflow: hidden;
}
.top-bar {
  width: 100vw;
  position: absolute;
  clear: both;
  /* border: solid thin rgb(139, 35, 50);
  border-bottom: none; */
  /* filter: brightness(95%); */
  height: 10em;
}

.header-button {
  /* border: thin solid rgb(139, 35, 50); */
  padding: 1em;
}

.header-button.left {
  margin: 1em auto 1em 1em;
}

.header-button.right {
  margin: 1em 1em 1em auto;
}

nav ul {
  height: 5vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  font-size: 1.5em;
  background: url('../photos/off-white-bg.jpg');
  padding-left: none;
  border-bottom: thin solid rgb(139, 35, 50);
  z-index: 1;
  filter: brightness(88%);
  /* margin-bottom: 0.25em; */
}

nav li {
  margin: 0 1em;
}

a {
  list-style: none;
  text-decoration: none;
  color: rgb(139, 35, 50);
}

.current {
  font-weight: bold;
  text-decoration: underline;
}

main {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 11em;
  margin-bottom: 1em;
}
.menu-nav {
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin-bottom: 1em;
}

.menu-nav ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: 0;
  list-style: none;
  max-width: 60em;

  flex-wrap: nowrap;
  overflow-x: auto;
  border: solid thin rgb(139, 35, 50);
  border-radius: 1em;
  padding: 0.5em 0.25em;
  background: rgba(0, 0, 0, 0.2);
  /* scrollbar-width: thick; */
  scrollbar-color: rgba(139, 35, 50, 0.7) rgba(0, 0, 0, 0);
}

.menu-nav ul li {
  text-align: center;
  margin: 0.5em 0.5em;
  border-radius: 1em;
  background: linear-gradient(145deg, rgba(139, 35, 50, 0.85), rgba(139, 35, 50, 0.6));
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
  white-space: nowrap;
}

.menu-nav ul li a {
  display: block;
  padding: 0.5em 1em;
  color: rgb(248, 248, 248);
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: none;
  transition: color 0.3s, background-color 0.3s;
}

.menu-nav ul li:hover {
  background: linear-gradient(145deg, rgba(139, 35, 50, 0.95), rgba(139, 35, 50, 0.7));
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
}

.menu-nav ul li a:hover {
  color: rgb(255, 215, 0);
}

#eggs-and-more,
#omelettes,
#holy-benedicts,
#mos-specials,
#early-risers,
#pancakes-waffles-french-toast,
#kids-menu,
#continental-breakfast,
#side-orders,
#burgers-sandwiches,
#specialty-sandwiches,
#salads-n-soup,
#lite-lunch,
#beverages {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.section-division {
  margin-bottom: 3em;
  border-bottom: thin solid rgb(139, 35, 50);
}
main h3 {
  font-family: 'Lemonada';
  text-align: center;
  font-weight: 600;
  font-size: 3em;
  color: rgb(190, 23, 48);
  text-decoration: underline;
}
main .substitution {
  margin-bottom: 1em;
  color: rgb(190, 23, 48);
}
.substitution.kids {
  margin-bottom: 0.5em;
}

main ul {
  text-decoration: none;
  list-style: none;
  padding-left: 0em;
  display: flex;
  flex-direction: row;
  /* align-items: center; */
  justify-content: center;
  flex-wrap: wrap;
}

main li {
  width: 33%;
  /* border-bottom: thin solid rgb(139, 35, 50); */
  margin: 0 1em;
}
.menu-buttons {
  width: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: center;
  /* white-space: nowrap; */
  /* overflow: hidden; */
}
.side {
  font-size: 1em;
  margin-bottom: 0.5em;
  /* display: flex;
  justify-content: center; */
}
main h4 {
  font-size: 1.25em;
  font-weight: 800;
}
main p {
  font-weight: 500;
}
li h4 p {
  max-width: 20em;
}
main .price {
  margin-bottom: 1em;
  font-weight: 400;
}

#dropdown-toggle {
  display: flex;
  /* justify-content: center; */
  align-self: center;
  position: relative;
  padding-left: 0.5em;
  font-size: 2em;
  cursor: pointer;
}
#dropdown-toggle:hover {
  color: rgb(139, 35, 50);
}
#return-to-top {
  position: fixed;
  bottom: 1em;
  right: 1em;
  font-size: 2em;
  cursor: pointer;
  display: none;
  background: rgba(0, 0, 0, 0.5);
  padding: 0.5em;
  border-radius: 0.5em;
  color: white;
}

/* #paper {
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: 10;
  margin: auto;
  color: white;
  background: url('../photos/paper.jpg');
  opacity: 1;
} */

@media screen and (max-width: 1680px) {
  main h3 {
    font-size: 2.5em;
  }
}
@media screen and (max-width: 1000px) {
  main h3 {
    font-size: 2em;
  }
  .menu-nav ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    overflow-x: auto;
    white-space: nowrap;
    padding: 0;
    margin: 0;
    border: none;
  }
  .menu-nav ul li {
    display: inline-block; /* Ensures items stay in line */
    white-space: normal;
  }
  .menu-nav ul li a {
    padding: 0.5em 1em;
    color: rgb(248, 248, 248);
    font-weight: 500;
    font-size: 0.75em;
    text-transform: uppercase;
    text-decoration: none;
    transition: color 0.3s, background-color 0.3s;
    white-space: nowrap;
  }
}
@media screen and (max-width: 875px) {
  .header-button {
    display: none;
  }
}

@media screen and (max-width: 680px) {
  nav {
    font-size: 1em;
  }
  nav ul {
    padding: 0em;
  }
  nav li {
    margin: 0 0.5em;
    font-size: 0.75em;
  }
  main li {
    width: 90%;
    margin-bottom: 1em;
  }
  .header-button {
    display: none;
  }
  main {
    margin-top: 10em;
  }
  .menu-nav ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    overflow-x: auto; /* Allows horizontal scrolling */
    white-space: nowrap; /* Prevents items from wrapping to the next line */
    padding: 0;
    margin: 0;
  }
  .menu-nav ul li {
    display: inline-block; /* Ensures items stay in line */
    white-space: normal;
  }
  .menu-nav ul li a {
    padding: 0.5em 1em;
    color: rgb(248, 248, 248);
    font-weight: 500;
    font-size: 0.75em;
    text-transform: uppercase;
    text-decoration: none;
    transition: color 0.3s, background-color 0.3s;
    white-space: nowrap;
  }
  main .substitution {
    margin-bottom: 2em;
  }
  .substitution.kids {
    margin-bottom: 0.5em;
  }
}
